<div class="dialog-container">
  <div class="dialog-action-bar">
    <button mat-fab class="button-fab" disabled={{disableSaveButton}} mat-dialog-close (click)="handleSave(storeSelect.value, salePriceInput.value)">
      <mat-icon class="icon">save</mat-icon>
    </button>
    <div>Alteração/Inclusão de Preço</div>
    <button mat-fab class="button-fab" mat-dialog-close>
      <mat-icon class="icon">close</mat-icon>
    </button>
  </div>
  <div class="dialog-content">
    <mat-form-field>
      <mat-label>Loja *</mat-label>
      <mat-select [(value)]="currentProductStore.idLoja" #storeSelect (valueChange)="handleDisableSaveButton(storeSelect.value, salePriceInput.value)">
        @for (store of stores; track store) {
        <mat-option [value]="store.id">{{
          store.descricao
        }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field class="sale-price-input">
      <mat-label>Preço de Venda</mat-label>
      <input
        #salePriceInput
        matInput
        type="text"
        mask="0*.00"
        name="sale-price"
        [(ngModel)]="currentProductStore.precoVenda"
        (change)="handleDisableSaveButton(storeSelect.value, salePriceInput.value)"
        required
      />
    </mat-form-field>
  </div>
</div>
