.fields-container {
  display: flex;
  column-gap: 20px;
  justify-content: start;
  padding-top: 20px;
  width: 90vw;
}

.id-input {
  width: 20%;
}

.description-input {
  width: 40%;
}

.cost-input {
  width: 20%;
}

.price-input {
  width: 20%;
}