.product-form-container {
  display: flex;
  column-gap: 20px;
  width: 90vw;
}

.product-form-info {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.image-label {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85%;
  cursor: pointer;
  margin-top: 20px;
  position: relative;
  text-align: center;
}

.input-image {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
}

img {
  max-width: 400px;
  max-height: 300px;
}

.image-span {
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  text-align: center;
}
