<div class="table-container">
  <table mat-table [dataSource]="productsStore">
    <ng-container matColumnDef="loja">
      <th mat-header-cell *matHeaderCellDef>
        <div class="action-cell save-cell">
          <div class="action-save-container">
            <button mat-fab class="button-fab">
              <mat-icon class="icon">add</mat-icon>
            </button>
          </div>
          <div>
            Loja
          </div>
        </div>
      </th>
      <td mat-cell *matCellDef="let productStore" class="td-store">
        {{ "Loja " + productStore.idLoja }}
      </td>
    </ng-container>
    <ng-container matColumnDef="preco-venda">
      <th mat-header-cell *matHeaderCellDef>Preço de Venda (R$)</th>
      <td mat-cell *matCellDef="let productStore">
        <div class="action-cell">
          <div class="center-element">
            {{ productStore.precoVenda }}
          </div>
          <div class="action-container">
            <button mat-fab class="button-fab">
              <mat-icon class="icon">delete</mat-icon>
            </button>
            <button mat-fab class="button-fab">
              <mat-icon class="icon">edit</mat-icon>
            </button>
          </div>
        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
  </table>
</div>
