.table-container {
  position: relative;
  width: 100%;
}

td,
th {
  text-align: center !important;
  vertical-align: middle !important;
  width: 50%;
}

td {
  padding-top: 20px;
  padding-bottom: 20px;
}

.mat-sort-header-container {
  justify-content: start !important;
}

.action-cell {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.action-container {
  position: absolute;
  display: flex;
  column-gap: 10px;
  right: 0;
}

.action-save-container {
  position: absolute;
  display: flex;
  left: 14px;
  top:8px;
  z-index: 99;
}
