@use "@angular/material" as mat;
@include mat.core();

$my-primary: mat.define-palette(mat.$deep-orange-palette, 500);
$my-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$my-theme: mat.define-dark-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
 ),
 density: 0,
));

@include mat.all-component-themes($my-theme);

html,
body {
  height: 100%;
  background-color: mat.get-color-from-palette(mat.$grey-palette, 900);
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 18px !important;
  color: white;
}

.icon {
  color: white;
}

.button-fab {
  width: 40px !important;
  height: 40px !important;
  background-color: mat.get-color-from-palette(
    mat.$blue-palette,
    500
  ) !important;
}

.add-button {
  background-color: mat.get-color-from-palette(
    mat.$green-palette,
    500
  ) !important;
}

.save-button {
  background-color: mat.get-color-from-palette(
    mat.$blue-palette,
    500
  ) !important;
}

.edit-button {
  background-color: mat.get-color-from-palette(
    mat.$amber-palette,
    400
  ) !important;
}

.delete-button {
  background-color: mat.get-color-from-palette(
    mat.$red-palette,
    500
  ) !important;
}

.center-element {
  text-align: center;
  width: 100%;
}

.general-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 8vh;
  padding-bottom: 8vh;
}

.fields-container {
  display: flex;
  column-gap: 20px;
  justify-content: start;
  padding-top: 20px;
  width: 100%;
}

.mat-mdc-snack-bar-container {
  &.red-snackbar {
    --mdc-snackbar-container-color: #ff6161;
    --mat-mdc-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #fff;
  }
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}